{% extends 'base.html' %}

{% block content %}
    <div class="agenda">
        <h3>{{ agenda.contact_name }} {{ agenda.contact_lastname}}</h3>
        <h4>{{ agenda.contact_phone_number }}</h4>
        {% if agenda.contact_email %}
            <div class="date">
                <h4>{{ agenda.contact_email }}</h4>
            </div>
        {% endif %}
    </div>
    <div class="container">
        <a class="btn btn-default" href="{% url 'agenda_edit' public_id=agenda.public_id %}"><span class="fa-solid fa-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'agenda' %}"><span class="fa-solid fa-house"></span></a>
    </div>
{% endblock %}